@media (max-width: 1200px) {
    .container {
        min-width: 960px;
    }
    .sidepanel {
        display: none;
    }
}


@media (max-width: 992px) {
    .container {
        min-width: 720px;
    }
}


@media (max-width: 768px) {
    .container {
        min-width: 540px;
    }
    .title {    
        &__fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
      &__fz48 {
        font-size: 26px;
        }  
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        &__btns {
           margin-top: 30px; 
        }
    }
    
}