.privacy {
    &__title {
        text-align: center;
        font-size: 34px;
    }
    &__list {
        margin-left: 50px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 18px;
        margin-top: 0.5rem;
        margin-bottom: 0.15rem;
    }
}